.post {
  width: 100%;
  border-radius: 5px;
  margin: 15px 0;
  background-color: #E6DEF5;
}

.postWrapper {
  margin: 10px;
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  background-color: #FFFFFF;
  padding: 20px 15px;
  margin: 15px 0px;
  border-radius: 5px;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin: 1px 5px;
  color: #9B51E0;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}

.listContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}